* {
  margin: 0;
  padding: 0; }

html, body {
  background-color: #bdd5d7;
  height: 100%; }

.text {
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 40px 0;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1; }
  .text:after {
    display: block;
    font: 72px "Playfair Display", serif;
    font-weight: 400; }

@media screen and (max-width: 1920px) {
  .text:after {
    content: "How"; } }
@media screen and (max-width: 1440px) {
  .text:after {
    content: "do"; } }
@media screen and (max-width: 960px) {
  .text:after {
    content: "it"; } }
@media screen and (max-width: 480px) {
  .text:after {
    content: "know?"; }

  body {
    background-color: #f1ad98; }

  .text:after {
    font-weight: 700;
    font-style: italic; } }
