* {
  margin: 0;
  padding: 0; }

html, body {
  background-color: #bdd5d7;
  height: 100%; }

.text {
  text-align: center;
  background-color: white;
  margin: auto;
  padding: 40px 0;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1; }
  .text:after {
    content: "I haz a secret.";
    display: block;
    font: 72px "Playfair Display", serif;
    font-weight: 400; }
